.nosotrosContainer {
  height: auto;
  color: black;

  .inicio {
    height: 120vh;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    .titulo-inicio {
      font-size: 5.8vw;
      font-weight: 400;
      padding: 7.5rem 0 0 2.5rem;
    }
    .descr-inicio {
      margin: 1.5rem 44rem 4rem 2.75rem;
      font-size: $descrSize;
      font-weight: 100;
      // line-height: 2.2rem;
      line-height: $descrLineHeight;
    }
    .button-inicio {
      @include botones;
      margin-left: 2.75rem;
    }
    .button-inicio:hover {
      background-color: #ad3760;
    }
    .GPcontainer {
      position: absolute;
      top: 10rem;
      right: 1rem;
      .GP {
        width: 65vw;
        height: auto;
      }
    }
  }

  .info {
    background-color: rgb(230, 230, 230);
    height: auto;
    color: black;
    padding: 13.5vw;
    padding-bottom: 10.5vw;

    .flex-info {
      display: flex;
      flex-direction: row;
      .titulo-info {
        @include tituloMediano;
      }
      .titulo-info span {
        color: $magenta;
      }

      .descr-info {
        width: 50%;
        padding-left: 2rem;
        font-size: $descrSize;
        font-weight: 400;
        line-height: $descrLineHeight;
      }
    }

    .items-info {
      display: flex;
      flex-direction: row;
      margin-top: 2.8rem;

      .item-info:not(:last-child) {
        padding-right: 1.5rem;
        border-right: 1px solid black;
      }

      .item-info:not(:first-child) {
        padding-left: 1.5rem;
      }

      .titulo-item {
        font-weight: bold;
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
      }

      .descr-item {
        font-size: 0.88rem;
      }
    }
  }
}

///// Responsive /////

// Monitor M
@media only screen and (max-width: 1430px) {
  .descr-inicio {
    margin-right: 36rem !important;
  }
  .inicio {
    height: 110vh !important;
  }
  // Monitor M alto
  @media only screen and (min-height: 740px) {
    .inicio {
      height: 100vh !important;
    }
  }
  // Monitor M estricto
  @media only screen and (min-width: 1350px) {
    .inicio {
      height: 108vh !important;
    }
  }
  // Monitor M bajo
  @media only screen and (min-height: 650px) and (max-height: 740px) {
    .inicio {
      height: 120vh !important;
    }
  }
  // Monitor M muy bajo
  @media only screen and (min-height: 300px) and (max-height: 650px) {
    .inicio {
      height: 140vh !important;
    }
  }
}

// Monitor S
@media only screen and (max-width: 1200px) {
  .descr-inicio {
    margin-right: 31rem !important;
  }
  // Monitor S alto
  @media only screen and (min-height: 590px) {
    .GPcontainer {
      top: 12rem !important;
    }
  }
}

// Tablets
@media only screen and (max-width: 992px) {
}
