.planesContainer {
  padding-bottom: 7%;
  background-color: $grisClaro;
  .planesYPrecios {
    @include centerCol;
    padding: 5.3% 0 4% 0;

    .text {
      width: 50%;
      .titulo {
        @include tituloMediano;
        text-align: center;
        width: 100%;
        color: black;
      }
      p {
        color: black;
        font-size: $descrSize;
        line-height: $descrLineHeight;
        text-align: center;
        font-weight: 300;
        margin: 0;
      }
    }
  }
  span {
    display: block;
    height: 1px;
    width: 80%;
    margin: auto;
    background-color: black;
  }
  .planes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 3%;
    .bordeResp {
      display: none;
    }
    p {
      color: black;
      font-size: 1vw;
    }
    .planOro {
      margin-bottom: 9%;
    }
    .plan {
      @include centerCol;
      justify-content: flex-start;
      width: 29%;
      color: black;
      .nombrePlan {
        margin: 10% 0 0.5% 0;
        font-size: 2.9vw;
        font-weight: bolder;
      }
      .text {
        padding: 0 10%;
        text-align: center;
        margin: 0;
      }

      .detalles {
        margin-top: 6%;
        width: 100%;
        position: relative;
        border-radius: 0.5rem;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        background-color: rgb(238, 238, 238);
        padding: 0 11%;
        @include center;
        .lista {
          padding-bottom: 25%;
        }
        .check {
          width: 4%;
          margin-right: 1.5%;
        }
        .precio {
          @include centerCol;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;

          .prec {
            @include centerRow;
            margin-bottom: -4%;
            .precioNum {
              font-size: 3.3vw;
              font-weight: bolder;
              color: $magenta;
            }
            .moneda {
              color: black;
              font-size: 3.3vw;
              font-weight: bolder;
            }
          }
          .aclaracion {
            font-size: 1.05vw;
            font-weight: bolder;
            color: $grisOscuro;
            margin-bottom: 6%;
          }
        }
      }
      .detallesBronce {
        padding-top: 40%;
        padding-bottom: 30%;
      }
      .detallesOro {
        padding-top: 10%;
        padding-bottom: 10%;
      }
      .detallesPlata {
        padding-top: 21%;
        padding-bottom: 21%;
      }

      a {
        width: 100%;
        button {
          margin-top: 6%;
          width: 100%;
          padding-top: 3.5%;
          padding-bottom: 3.5%;
          font-size: 1.3vw;
          background-color: $magentaClaro;
          border: none;
          color: rgb(216, 216, 216);
          border-radius: 0.5rem;
          transition: all 0.2s;
          box-shadow: 0px 0px 0.8rem 0px rgba(0, 0, 0, 0.207);
        }
        button:hover {
          background-color: $magenta;
          color: white;
        }
        .ORObtn {
          background-color: $magenta;
          color: white;
        }
        .ORObtn:hover {
          background-color: $magentaFuerte;
        }
      }
    }
  }
  .soporteTec {
    border-radius: 0.5rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    background-color: rgb(238, 238, 238);
    margin: 0 6%;
    padding: 0 2%;
    @include centerRow;
    .sopTecImg {
      width: 7%;
      padding: 0.5%;
    }
    .detalles {
      width: 90%;
      @include centerCol;
      margin-left: 6.3%;
      color: black;
      .titulo {
        font-size: 1.7vw;
        font-weight: bolder;
        margin-bottom: 0;
      }
      .text {
        font-size: 1vw;
        margin-bottom: 1%;
        text-align: center;
        width: 80%;
      }
    }
    .precio {
      @include centerCol;
      .prec {
        margin-top: 2%;
        @include center;
        .precioNum {
          font-size: 2.3vw;
          font-weight: bolder;
          color: $magenta;
          margin-bottom: 0;
        }
        .moneda {
          color: black;
          margin-bottom: 0;
          font-size: 2.3vw;
          font-weight: bolder;
        }
      }
      .aclaracion {
        font-size: 1.05vw;
        font-weight: bolder;
        color: $grisOscuro;
        margin-bottom: 5%;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .planesContainer {
    padding-bottom: 14%;
    .planesYPrecios {
      padding: 14% 0 10% 0;
      .text {
        width: 80%;
        .titulo {
          @include tituloMedianoResp;
          text-align: center;
          width: 100%;
          margin-bottom: 5%;
        }
        p {
          font-size: $descrSizeResp;
        }
      }
    }
    .planes {
      @include centerCol;
      padding: 0 3% 5% 3%;
      p {
        color: black;
        font-size: 118%;
        font-weight: 300;
      }
      .planOro {
        margin-bottom: 0;
      }
      .plan {
        width: 80%;
        .nombrePlan {
          font-size: 7vw;
        }
        .text {
          padding: 0 0;
          width: 105%;
        }
        .detalles {
          .precio {
            .prec {
              .precioNum {
                font-size: 10vw;
              }
              .moneda {
                font-size: 10vw;
              }
            }
            .aclaracion {
              font-size: 4vw;
            }
          }
        }
        a {
          button {
            font-size: 4vw;
            background-color: $magenta;
            color: white;
          }
          button:hover {
            background-color: $magenta;
            color: white;
          }
          .ORObtn {
            background-color: $magenta;
            color: white;
          }
          .ORObtn:hover {
            background-color: $magenta;
            color: white;
          }
        }
      }
      .bordeResp {
        display: block;
        margin-top: 15%;
      }
      padding-bottom: 15%;
    }
  }
  .soporteTec {
    padding: 6% 2% !important;
    @include centerCol;
    flex-direction: column !important;
    height: 100%;
    .sopTecImg {
      width: 20% !important;
    }
    .detalles {
      width: 100%;
      margin-left: 0 !important;
      .titulo {
        font-size: 8vw !important;
        margin: 6% !important;
      }
      .text {
        font-size: $descrSizeResp !important;
        margin-bottom: 6% !important;
        text-align: center;
        width: 100% !important;
      }
    }
    .precio {
      @include centerCol;
      .prec {
        margin-top: 2%;
        @include center;
        .precioNum,
        .moneda {
          font-size: 10vw !important;
        }
      }
      .aclaracion {
        font-size: 4vw !important;
        margin-bottom: 0 !important;
      }
    }
  }
}
