.planesContainer {
  .planesYPrecios {
    background-color: #e6e6e6;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    @include centerCol;
    .text {
      width: 40vw;
      .titulo {
        @include tituloMediano;
        text-align: center;
        width: 100%;
      }
      p {
        font-size: $descripcion;
        text-align: center;
        font-weight: 300;
      }
    }
  }
  .planes {
    @include centerRow;
    padding: 4rem 3rem;
    justify-content: space-between;
    .plan {
      width: 35.5rem;
      height: 40rem;
      border: 1px solid red;
    }
  }
}
