.pregContainer {
  background-color: $fondoClaro;
  height: auto;
  .inicio {
    padding-bottom: 2%;
    background-size: cover;
    color: black;
    padding-top: 5%;
    .titulo {
      font-size: 5vw;
      padding: 1.5% 25% 0 4%;
      margin-bottom: 3%;
    }
    .subText {
      font-size: $descrSize;
      font-weight: 100;
      color: white;
      padding: 4%;
      margin: 0 59.4% 0 3%;
      padding: 5%;
      border-radius: 4rem 4rem 0 0;
      background-color: $magenta;
    }
    .imgContainer {
      position: absolute;
      top: 7%;
      right: 0;
      img {
        width: 55vw;
        height: auto;
      }
    }
    .boxGeneral {
      margin: 0% 3% 0 3%;
      @include centerRow;
      justify-content: space-between;
      .links {
        background-color: $magenta;
        border-radius: 0 0rem 0 4rem;
        -webkit-border-radius: 0 0rem 0 4rem;
        -moz-border-radius: 0 0rem 0 4rem;
        -ms-border-radius: 0 0rem 0 4rem;
        -o-border-radius: 0 0rem 0 4rem;
        width: 80%;
        padding: 5%;
        @include centerCol;
        align-items: flex-start;
        a {
          font-size: 1.7vw;
          font-weight: bold;
          color: white;
          transition: all 0.3s ease-in-out;
          margin-bottom: 2.5%;
          width: 100%;
        }
        a:hover {
          color: #ff6098;
          padding-left: 5%;
        }
      }
      .box {
        background-color: $grisClaro;
        padding: 7% 2% 7% 2%;
        border-radius: 0 4rem 0rem 0;
        -webkit-border-radius: 0 4rem 0rem 0;
        -moz-border-radius: 0 4rem 0rem 0;
        -ms-border-radius: 0 4rem 0rem 0;
        -o-border-radius: 0 4rem 0rem 0;
        .subText1 {
          font-size: $descrSize;
          font-weight: 100;
          line-height: $descrLineHeight;
          margin: 0;
          padding: 0 5% 0 5%;
        }
      }
    }
  }
  .pregContainer {
    .pregsPagina,
    .pregsPlanes,
    .pregsCom {
      @include centerCol;
      padding: 5% 20% 0 20%;
      color: black;
      .preg {
        width: 70vw;
        margin-bottom: 3%;
        border-radius: 1rem;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        padding: 1% 2% 1% 2%;
        .superior {
          cursor: pointer;
          @include centerRow;
          justify-content: space-between;
          .titulo {
            font-size: 1.8vw;
            font-weight: bold;
            margin-bottom: 0;
          }
          img {
            width: 3.15vw;
          }
        }
        .parrafo {
          padding: 2% 2%;
          font-size: 1vw;
          text-align: start;
        }
      }
    }
  }
}
