.proyectosContainer {
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;

  .titulo-proyectos {
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 1.5rem;
    font-size: 3.95rem;
    font-weight: 700;
    width: 40rem;
    line-height: 4.5rem;
  }

  .descr-proyectos {
    margin-bottom: 7rem;
    font-size: 1.4rem;
    font-weight: lighter;
  }

  .cards {
    // border-bottom: 1px solid rgb(0, 0, 0);
    // padding-bottom: 12rem;
  }

  .cards-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .card {
    height: 18vw;
    width: 28vw;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    background-image: url("../../multimedia/santor.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
  }

  .card:hover {
    margin-top: -2rem;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.2);
    // height: 16rem;
    // width: 27rem;
    filter: brightness(75%);
    -webkit-filter: brightness(75%);
  }

  // .button-proyectos {
  //   @include botones;
  //   margin: auto;
  //   margin-bottom: 3rem;
  // }

  // .button-proyectos:hover {
  //   background-color: #ad3760;
  // }
}
